@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

header{
    h1{
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 50px;
    }
    .wizard{
        height: 10%;
        width: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


main{

    .cauldron{
        height: 50%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }


    .container{

        display: flex;

        .col1, .col2, .col3{
            height: fit-content;
            padding: 2%
        }

        h2{

            text-align: center;
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            padding-bottom: 5%;

        }

        .col2{

            text-align: center;

            .button{
                //make an animated button on hover
                background-color: #4CAF50;
                display: none;
                margin-left: auto;
                margin-right: auto;
                animation: glowing 1300ms infinite;
              }

            .container{

                img{
                    height: 50px;
                    width: 40px;
                }

                display: inline;

                .currentPotionList{
                    display: grid;
                    grid-template-columns: repeat(10, 1fr);
                    grid-template-rows: 1fr;
                    column-gap: 10%;
                }
            }


        }

        .col1, .col3{

            text-align: center;
            width: 33%;
            float: left;
            border:1px solid black;

            div{

                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                row-gap: 1%;
                column-gap: 1%;

                a{
                    border: 2px solid red;
                    text-decoration: none;

                    div{

                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items:center;

                        img{

                            height: 50px;
                            width: 50px;

                        }
                    }
                }

                a:hover {
                    border: 3px solid green;

                }

                a:active{
                    border: 4px solid green;
                }

                a:hover::after{
                    border: 4px solid green;
                }

            }
        }
    }
}

@keyframes glowing {
    0% {
      background-color: hwb(42 47% 5%);
      box-shadow: 0 0 5px hwb(42 47% 5%);
    }
    50% {
      background-color: hwb(30 16% 9%);
      box-shadow: 0 0 20px hwb(30 16% 9%);
    }
    100% {
        background-color: hwb(42 47% 5%);
        box-shadow: 0 0 5px hwb(42 47% 5%);
    }
}
